section {
    overflow: hidden;
}


/* Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}

@media (max-width: 767px) {
    .section-header p {
        width: 100%;
    }
}


/* Section with background
--------------------------------*/

.section-bg {
    background: #f5f8fd;
}

#features {
    padding: 80px 0;
}

#features h4 {
    font-weight: 600;
    font-size: 24px;
}

#clients {
    padding: 60px 0;
}

#clients img {
    opacity: 1;
    transition: 0.3s;
}

#clients img:hover {
    opacity: 1;
}

#clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

#clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #1bb1dc;
}

#clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #1bb1dc;
}

#services {
    padding: 60px 0 40px 0;
}

#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    height: 100%;
}

#services .box:hover {
    transform: scale(1.1);
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon i {
    font-size: 36px;
    line-height: 0;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #1bb1dc;
}

#services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}